<table>
    <caption>notas, médias e status dos alunos do 1ºA</caption>
    <thead>
      <tr>
        <th id="coluna1">Nome</th>
        <th id="coluna2">Nota 1</th>
        <th id="coluna3">Nota 2</th>
        <th id="coluna4">Média</th>
        <th id="coluna5">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dado of dados">
        <td id="nomes">{{ dado.nome }}</td>
        <td id="notas"><input type="text" [(ngModel)]="dado.nota1" (input)="calcularMedia(dado)" size="3"></td>
        <td id="notas"><input type="text" [(ngModel)]="dado.nota2" (input)="calcularMedia(dado)" size="3"></td>
        <td id="medias" *ngIf="dado.nota1 !== null && dado.nota2 !== null">{{ dado.media }}</td>
        <td id="medias" *ngIf="dado.nota1 === null || dado.nota2 === null"></td>
        <td id="status" *ngIf="dado.nota1 !== null && dado.nota2 !== null" [ngClass]="{
          'aprovado': dado.status === 'Aprovado',
          'recuperacao': dado.status === 'Recuperação',
          'reprovado': dado.status === 'Reprovado'
        }">{{ dado.status }}</td>
        <td id="status" *ngIf="dado.nota1 === null || dado.nota2 === null"></td>
      </tr>
    </tbody>
</table>